.lightbox {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.5);
	@include opacity(0);
	@include transition(opacity 0.25s ease-in-out);
	&.show {
		display: block;
		@include opacity(1);
	}

	.wrapper {
		position: relative;
	}

	.close {
		position: absolute;
		top: 1em;
		right: 1em;
	}
}


.lightbox-wrapper {
	display: none;
	margin-top: 5em;
	padding: 1em 2em;
	background-color: white;
	text-align: center;
	&.show {
		display: block;
	}
}