// Grid Variables
$totalCols: 16;

// Screen Sizes
$small-min : 768px;
$small-max : ($small-min - 1);

// Colors
// ex: $green: #39b54a;

// Font Families
// ex: $proxima : 'proxima nova','Helvetica', Arial, sans-serif